extends layout 

block content
  link(href='/stylesheets/style.css' rel='stylesheet')
  body
    div.img 
      img(src="/images/windows11.jpg", alt="")
    div.principal  
      h1 Todo sobre Eduardo Leon  
    div.parrafo 
      p Mi nombre es Eduardo Leon, soy cursante del primer semestre de la carrera Tsu. Mantenimiento de Sistemas Informaticos, Soy de la isla de Margarita 