extends layout 

block content
  link(href='/stylesheets/style.css' rel='stylesheet')
  body
    div.img 
      img(src="/images/cpu.jpeg", alt="")
    div.principal  
      h1 CPU o PC  
    div.parrafo 
      p Una CPU, o unidad central de procesamiento, es un componente de hardware y la unidad computacional central de un servidor. Los servidores y otros dispositivos inteligentes convierten los datos en señales digitales y realizan operaciones matemáticas en ellos. La CPU es el componente principal que procesa las señales y hace posible la computación. Actúa como el cerebro de cualquier dispositivo de computación. Obtiene instrucciones de la memoria, realiza las tareas necesarias y envía la salida a la memoria. Maneja todo tipo de tareas de computación necesarias para que el sistema operativo y las aplicaciones se ejecuten.