extends layout 

block content
  link(href='/stylesheets/style.css' rel='stylesheet')
  body
    //Header
    .container.text-center.mt-5
      img.mx-auto.d-block(src="/images/computadora.jpg" width="350px")
      hr
      h1.fw-bolder Que es una computadora 
    .section.mb5.p2
      p.fs-5.lead.mb-5.mt-3.p-2 
        | La computadora es la herramienta m谩s vers谩til, potente y revolucionaria que el ser humano ha creado 
        | en su historia reciente. Representa el punto cumbre de la Revoluci贸n industrial, cient铆fica y tecnol贸gica 
        | que presenci贸 el siglo XX despu茅s de la Segunda Guerra Mundial. Su presencia y popularizaci贸n en nuestro
        | tiempo no s贸lo cambi贸 para siempre el modo de procesar la informaci贸n en el mundo, sino tambi茅n la manera 
        | de trabajar y concebir el trabajo, las formas de comunicarse a larga distancia, las formas de ocio, y 
        | muchas otras 谩reas de la vida cotidiana.
        | Los mismos consisten fundamentalmente en un gran n煤mero de circuitos integrados, 
        | componentes de apoyo y extensiones electr贸nicas. Sin embargo, las computadoras han cambiado radicalmente a lo 
        | largo de su propia y r谩pida historia, pasando de ser enormes e inc贸modas instalaciones, a ocupar un lugar tan 
        | peque帽o como el bolsillo de nuestros pantalones, en el caso de los tel茅fonos inteligentes.

    // Footer
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white Copyright &copy; Eduardo Le贸n 2024
        p.m-0.text-center.text-white V-14.840.089 Introduci贸n a la Informatica
        p.m-0.text-center.text-white Profesor: ngel Gonz谩lez

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
    // Core theme JS
    script(src='/javascripts/scripts.js')  