extends layout 

block content
  link(href='/stylesheets/style.css' rel='stylesheet')
  body
    //Header
    .container.text-center.mt-5
      img.mx-auto.d-block(src="/images/linux.jpeg" width="350px")
      hr
      h1.fw-bolder Contacto
      p.lead.mb-5.mt-4 
        | Para contactarme puedes enviarme un correo: 游닓 a eduleon78@gmil.com, mi tlf: 游 es 0424-0587119, 
        | Estoy ubicado: 游뛀en la ciudad de porlamar, Municipio Mari침o Estado Nueva Esparta. 
        | Mi redes sociales: 游륋릤봻눹 son Instagram @eduleon78. Github: eduleon78 

    // Footer
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white Copyright &copy; Eduardo Le칩n 2024
        p.m-0.text-center.text-white V-14.840.089 Introduci칩n a la Informatica
        p.m-0.text-center.text-white Profesor: 츼ngel Gonz치lez

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
    // Core theme JS
    script(src='/javascripts/scripts.js') 