extends layout 

block content
  link(href='/stylesheets/style.css' rel='stylesheet')
  body
    div.img 
      img(src="/images/linux.jpeg", alt="")
    div.principal  
      h1 Contacto  
    div.parrafo 
      p Para contactarme puedes enviarme un correo a eduleon78@gmil.com, mi tlf es 0424-0587119, 