extends layout 

block content
  link(href='/stylesheets/style.css' rel='stylesheet')
  body
    div.img 
      img(src="/images/ram.jpeg", alt="")
    div.principal  
      h1 Hardware  
    div.parrafo
      p En computación e informática, se conoce como hardware (del inglés hard, rígido, y ware, producto, mercancía) al conjunto de los componentes materiales, tangibles, de un computador o un sistema informático. Incluye todas las partes mecánicas, eléctricas y electrónicas, sin considerar los programas y otros elementos digitales que  forman parte del software.
  