extends layout 

block content
  link(href='/stylesheets/style.css' rel='stylesheet')
  body
    //Header
    .container.text-center.mt-5
      img.mx-auto.d-block.p-3(src="/images/ofimatica.jpg" width="350px" height="200px")
      hr
      h1.fw-bolder Que es la ofimatica?
      p.lead.mb-5.mt-4 
        | En el mundo actual, la tecnología ha transformado la manera en que trabajamos y gestionamos la información. La ofimática, 
        | un término que proviene de "oficina" e "informática", se ha convertido en una parte esencial de la vida laboral y educativa. 
        | Ya nadie piensa en esas viejas y pesadas máquinas de escribir a la hora de hablar de ofimática, pero sin duda su evolución y su 
        | implementación en nuestra vida ha alcanzado multitud de áreas que van desde el trabajo, al ámbito académico e incluso los momentos 
        | de ocio. Todo pasa por el ordenador y un teclado hoy en día. La ofimática es ese conjunto de aplicaciones y herramientas informáticas 
        | diseñadas para facilitar y mejorar las tareas relacionadas con la creación, edición, almacenamiento y distribución de información en el 
        | entorno de una oficina o empresa. Estas herramientas abarcan una amplia gama de funciones que permiten la creación de documentos, hojas 
        | de cálculo, presentaciones, folletos, etc., con el objetivo de aumentar la eficiencia y la productividad en el trabajo.

    // Footer
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white Copyright &copy; Eduardo León 2024
        p.m-0.text-center.text-white V-14.840.089 Introdución a la Informatica
        p.m-0.text-center.text-white Profesor: Ángel González

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
    // Core theme JS
    script(src='/javascripts/scripts.js')  