extends layout 

block content
  link(href='/stylesheets/style.css' rel='stylesheet')
  body
    //Header
    .container.text-center.mt-5
      img.mx-auto.d-block.p-3(src="/images/terminologia.jpg" width="350px")
      hr
      h1.fw-bolder Sistemas Operativos 
    .section.mb5.p2
      p.fs-5.lead.mb-1.mt-3.p-2
        | El sistema operativo es un software fundamental en cualquier ordenador o dispositivo m贸vil. Act煤a como un 
        | intermediario entre el hardware y el usuario, gestionando los recursos del sistema y permitiendo la 
        | ejecuci贸n de aplicaciones. Existen infinidad de sistemas operativos, siendo Windows, macOS, Linux los tres 
        | m谩s populares para ordenadores, y Android e iOS en dispositivos m贸viles. Estos sistemas no solo facilitan 
        | la interacci贸n con el dispositivo a trav茅s de interfaces gr谩ficas o l铆neas de comando, tambi茅n coordinan 
        | las tareas internas como la gesti贸n de memoria, los procesos y el almacenamiento. Sin un sistema operativo, 
        | usar un dispositivo ser铆a una tarea compleja y poco intuitiva que 煤nicamente podr铆an llevar a cabo los 
        | usuarios con conocimientos inform谩ticos avanzados.
      p.fs-5.lead.mb-5.mt-3.p-2
        | El sistema operativo es la base sobre la que gira la actividad de un ordenador o un tel茅fono inteligente, 
        | mientras que el software de aplicaci贸n son los programas dise帽ados para realizar tareas espec铆ficas sirvi茅ndonos 
        | de 茅l. Algunos buenos ejemplos los encontramos en los procesadores de texto, los navegadores web o los juegos, 
        | herramientas digitales que nos facilitan cualquier tipo de tarea. A diferencia de los sistemas operativos, que 
        | gestionan el funcionamiento global del dispositivo, el software de aplicaci贸n depende del sistema operativo 
        | para su ejecuci贸n y la gesti贸n de sus recursos.

    // Footer
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white Copyright &copy; Eduardo Le贸n 2024
        p.m-0.text-center.text-white V-14.840.089 Introduci贸n a la Informatica
        p.m-0.text-center.text-white Profesor: ngel Gonz谩lez

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
    // Core theme JS
    script(src='/javascripts/scripts.js') 